<% if user_signed_in? %>
  <%= form_for([@politico, @politico.comentarios.build]) do |f| %>
    <div class="field">
      <%= f.text_area :mensagem, class: "form-control" %>
    </div>
    <br>
    <div class="btn-group" role="group" aria-label="...">
      <%= button_tag(type: "submit", class: "btn btn-default btn-primary", name: "commit", value: "conceal") do %>
        Enviar comentário
      <% end %>
    </div>
  <% end %>
<% end %>