  <%= form_for([@politico, @politico.comentarios.build]) do |f| %>
  <div class="post-comment">
      <h5>Faça um comentário</h5>
      <form>
          <label>Mensagem:</label>
          <div class="row margin-bottom-20">
              <div class="col-md-11 col-md-offset-0">
                  <%= f.text_area :mensagem, class: "form-control" %>
              </div>                
          </div>
          
          <p><%= button_tag(type: "submit", class: "btn pi-btn-light-grey", name: "commit", value: "conceal") do %>
                        Enviar comentário
             <% end %></p>
      </form>
  </div>
 <%end%>
