/*  ---------------------------------------------------------------
    general style
    --------------------------------------------------------------- */

/* apply a natural box layout model to all elements  - http://www.paulirish.com/2012/box-sizing-border-box-ftw/*/
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus {
    outline: 0;
}

/* ! removes focus line */
::-moz-focus-inner {
    padding: 0;
    border: 0
}

html, body {
    width: 100%;
    min-height: 100%;
}

/*  END - general style */

/* style for Cube Portfolio wrapper*/
.wrapper {
    width: 94%;
    max-width: 980px;
    margin: 0 auto;
}

@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700);

body {
    background: #00709a
}

#hovered-region,
#clicked-region {
    background: #01374d;
    border: 1px solid #e5eabd;
    color: #e4b045;
    display: inline-block;
    font: normal 10pt 'Ubuntu Mono';
    margin-right: 3px;
    padding: 4px 8px;
    text-align: center;
    width: 170px
}

#hovered-region span,
#clicked-region span {
    color: #e4e770;
    font-weight: bold
}

#brazil-map {
    margin: 10px auto;
    height: 687px;
    width: 780px
}
