<head>
  <script src="js/jquery-1.10.2.min.js" type="text/javascript"></script>
  <script src="js/jquery-jvectormap-1.2.2.min.js" type="text/javascript"></script>
  <script src="js/brazil.js" type="text/javascript"></script>
</head>
<span style="text-align: center"></span>

<!-- about us -->
<section class="content-2 section-grey">
  <div class="container">
    <div class="row">

      <h1 class="text-center">Mapa Político</h1>
      <div class="line"></div>

      <div class="col-sm-24">
        <div class="padd">
          <p style="text-align: center">Selecione o estado e confira todos os feitos dos políticos brasileiros.</p>

        </div>
      </div><!-- end row -->
    </div><!-- end container -->
  </div>

    <!-- end about us -->

</section>
<div>
    <div id="brazil-map"></div>
    </div>
    <script type="text/javascript">
      $(function () {
          var map_settings = {
              map: 'brazil',
              zoomButtons: false,
              zoomMax: 1,
              regionStyle: {
                  initial: {
                      'fill-opacity': 0.9,
                      stroke: '#000',
                      'stroke-width': 100,
                      'stroke-opacity': 1
                  },
                  hover: {
                      fill: '#00709a'
                  }
              },
              backgroundColor: 'white',
              series: {
                  regions: [{
                      values: {
                          // Região Norte
                          ac: '#fff9c2',
                          am: '#fff9c2',
                          ap: '#fff9c2',
                          pa: '#fff9c2',
                          ro: '#fff9c2',
                          rr: '#fff9c2',
                          to: '#fff9c2',
                          // Região Nordeste
                          al: '#fcdeeb',
                          ba: '#fcdeeb',
                          ce: '#fcdeeb',
                          ma: '#fcdeeb',
                          pb: '#fcdeeb',
                          pe: '#fcdeeb',
                          pi: '#fcdeeb',
                          rn: '#fcdeeb',
                          se: '#fcdeeb',
                          // Região Centro-Oeste
                          df: '#feb83d',
                          go: '#feb83d',
                          ms: '#feb83d',
                          mt: '#feb83d',
                          // Região Sudeste
                          es: '#e8ec9b',
                          mg: '#e8ec9b',
                          rj: '#e8ec9b',
                          sp: '#e8ec9b',
                          // Região Sul
                          pr: '#fef56c',
                          rs: '#fef56c',
                          sc: '#fef56c'
                      },
                      attribute: 'fill'
                  }]
              },
              container: $('#brazil-map'),
              onRegionClick: function (event, code) {
                  $('#clicked-region span').text(code);
                  $('#clicked-region span').href("http://google.com.br");
              },
              onRegionOver: function (event, code) {
                  $('#hovered-region span').text(code);
              }
          };

          map = new jvm.WorldMap($.extend(true, {}, map_settings));
      });
    </script>

<br>
<br>


<!-- jQuery -->
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.fitvids.js"></script>
<script src="js/owl.carousel.js"></script>
<!--<script src="js/jquery.ui.totop.min.js"></script>-->
<script src="js/jquery.countTo.js"></script>
<script src="js/jquery.placeholder.js"></script>
<script src="js/jquery.parallax-1.1.3.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/jquery.sticky.js"></script>
<script src="js/jquery.cubeportfolio.min.js"></script>
<script src="js/lightbox-gallery.js"></script>
<script src="js/main.js"></script>

<script>
  //Animation Wow.js
  new WOW().init();

  //sticky menu
  $(".navbar").sticky({topSpacing:0});

</script>

<script>
  $(document).ready(function(){
    $('#nav a').on('click', function() {
      var scrollAnchor = $(this).attr('data-scroll'),
          scrollPoint = $('section[data-anchor="' + scrollAnchor + '"]').offset().top - 69;
      $('body,html').animate({
        scrollTop: scrollPoint
      }, 500);
      return false;
    })
    $(window).scroll(function() {
      var windscroll = $(window).scrollTop();
      if (windscroll >= 100) {
        $('section[data-anchor]').each(function(i) {
          if ($(this).position().top <= windscroll + 71) {
            $('#nav li.zm-active').removeClass('zm-active');
            $('#nav li.nav').eq(i).addClass('zm-active');
          }
        });
      } else {
        $('#nav li.zm-active').removeClass('zm-active');
      }
    }).scroll();
  });
</script>