<section class="content section-grey">
	<div class="container">
    	<div class="row">
        	<div class="col-sm-12 padd">
            	<div class="errors">
                    <p class="error404 weight-700"><%=request.original_url.at(49..52)%></p>
                    <h3 class="weight-700">Página Não Encontrada!</h3>
                    <p>Pedimos desculpas, a página que você tentou entrar não foi encontrada <br />Você pode voltar atrás</p>
                    <a href="/" class="btn btn-lg pi-btn-default rounded">Homepage</a>
                </div>
        	</div>
        </div>
    </div>
</section>