<!DOCTYPE html>
<html>
<head>
  <title>Memória de Elefante</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Icons/FontAwesome
  <link rel="stylesheet" href="assets/stylesheets/font-awesome.min.css" />
  <!-- totop
  <link rel="stylesheet" href="assets/stylesheets/ui.totop.css" />
  <!-- owl carusol
  <link rel="stylesheet" href="assets/stylesheets/owl.carousel.css" />
  <!-- zetta menu
  <link rel="stylesheet" href="assets/stylesheets/zetta-menu.min.css" />
  <!-- layerSlider
  <link rel="stylesheet" href="assets/stylesheets/layerslider.css" />
  <!-- Animation
  <link rel="stylesheet" href="assets/stylesheets/animate.css" />
  <!-- cubeportfolio
  <link rel="stylesheet" href="assets/stylesheets/cubeportfolio.min.css" />
  <link rel="stylesheet" href="assets/stylesheets/main.css" />

  <!-- Customizable CSS
  <link rel="stylesheet" href="assets/stylesheets/style.css" /-->

  <!-- FONTS -->
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Favicon -->
  <link rel="shortcut icon" href="img/favicon.ico">
</head>
<body id="onepage">

<%= yield %>

</body>
</html>
