<html>
<body>
<div class="progress">
  <% likes = 0
     deslikes = 0 %>
  <% total = @politico.get_downvotes.size + @politico.get_upvotes.size %>
  <% likes = (@politico.get_upvotes.size / total.to_f) * 100 %>
  <% dislikes = (@politico.get_downvotes.size / total.to_f) * 100 %>
  <div class="progress-bar progress-bar-success"  style="width: 70%; max-width: 100%">
    <span class="sr-only"><%=likes.round%>% </span>
  </div><!-- end progress-bar -->
  <div class="progress-bar progress-bar-danger" style="width: 30%; max-width: 100%">
    <span class="sr-only"><%=dislikes.round%>% </span>
  </div><!-- end progress -->
</div>
</body>
</html>